<div class="section-hero">

  <!--====  Nav  ====-->

  <div class="section-nav">

    <!-- Top Nav -->

    <nav class="navbar navbar-expand">
      <div class="container">

        <!-- Logo -->

        <a class="navbar-brand mr-auto" href="/">
          <img src="<%= style %>/img/penguin.png" width="24" height="24" alt="">
          &nbsp; Penguin Stage</a>

        <!-- Menu Items -->

        <ul class="nav">

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nc-icon nc-alert-circle-que-white"></i>
              &nbsp; HELP</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nc-icon nc-settings-gear-64-white"></i>
              &nbsp; SETTINGS</a></li>

          <li class="nav-item">
            <a class="nav-link btn btn-sm btn-rounded" js-logout href="#">
              LOGOUT</a></li>

        </ul>

      </div>
    </nav>

    <!-- Bottom Nav -->

    <nav class="bottom-nav">
      <div class="container">
        <ul class="nav justify-content-between">

          <li class="nav-item">
            <a class="nav-link" href="#">
              BALANCE</a></li>

           <li class="nav-item">
            <a class="nav-link" href="#">
              TRANSFERS</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              PAYMENTS</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              INVESTMENTS</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              INSURANCE</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              MORTGAGE</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              OTHER SERVICES</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              OTHER PRODUCTS</a></li>

        </ul>
      </div>
    </nav>

  </div>

  <div id="banner-container"></div>

</div>
