<div class="section-hero">

  <!-- Bg Img -->

  <div class="overlay"></div>

  <!--====  Nav  ====-->

  <div class="section-nav">

    <!-- Top Nav -->

    <nav class="navbar navbar-expand">
      <div class="container">

        <!-- Logo -->

        <a class="navbar-brand mr-auto" href="/">
          <img src="<%= style %>/img/penguin.png" width="24" height="24" alt="">
          &nbsp; Penguin Bank</a>

        <!-- Menu Items -->

        <ul class="nav">

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nc-icon nc-email-83-white"></i>
              &nbsp; CONTACT US</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nc-icon nc-pin-copy-white"></i>
              &nbsp; LOCATIONS</a></li>

          <li js-e="l" class="nav-item">
            <a class="nav-link btn btn-sm btn-rounded"
               data-toggle="modal" href="#modal-login">
             LOGIN</a></li>

        </ul>
      </div>
    </nav>

    <!-- Bottom Nav -->

    <nav class="bottom-nav">
      <div class="container">
        <ul class="nav justify-content-between">

          <li class="nav-item">
            <a class="nav-link" href="#">
            PERSONAL</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
            STAGING</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
            BUSINESS</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
            INSURANCE</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
            MORTGAGE</a></li>


          <li class="nav-item">
            <a class="nav-link" href="#">
            WEALTH</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
            ABOUT US</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
            HELP</a></li>

        </ul>
      </div>
    </nav>

  </div>

  <!--====  Content  ====-->

  <div class="section-headline">
    <div class="container">

      <!-- Headline -->

      <h1 class="headline">
        Top staging solutions for today's leading businesses
      </h1>

      <p class="tagline">
        Dedicated staging solutions for today's economy-driven business</p>

      <!-- Call to Action -->

      <a class="btn btn-primary btn-rounded"
         href="registration">
        CREATE AN ACCOUNT</a>

      <!-- EE  -->

      <div js-e='d' style="bottom:0;height:16%;min-height:30vh;left:0;position:absolute;right:0;width:100%;z-index:1;"></div>

    </div>
  </div>

  <!--====  Easter Egg  ====-->

  <div id="easter-egg"
       style="bottom:0;height:16%;left:0;position:absolute;width:100%;"></div>
</div>
