<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%- include(style +'/_header.html'); -%>
</head>
<body>

  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/bootstrap.bundle.min.js"></script>
  <script src="js/reset-password-confirm.js"></script>

  <div id="p-reset-password" class="h-100">

    <!--=============================
    =            HERO            =
    ==============================-->

    <div class="section-hero">

      <!-- Bg Img -->

      <div class="overlay"></div>

      <!--====  Nav  ====-->

      <%- include(style +'/_navbar.html'); -%>

      <!--====  Content  ====-->

      <div class="section-headline">
        <div class="container">

          <!-- Headline -->

          <h1 class="headline">
            Reset your password</h1>

          <p class="tagline">
             Enter your new password below.
          </p>

          <!-- Form -->

          <div class="form-container">
            <form js-form>

              <!-- Input -->

              <div class="form-group">
                <label for="email">
                  New Password</label>
                <input class        = "form-control"
                       type         = "password"
                       name         = "password"
                       autocomplete = "off"
                       required js-password />

                <div class="label-error"
                     js-error="password"></div>

              </div>

              <!-- Input -->

              <div class="form-group">
                <label for="email">
                  Confirm Password</label>
                <input class        = "form-control"
                       type         = "password"
                       name         = "confirm_password"
                       autocomplete = "off"
                       required js-confirm-password />

                <div class="label-error"
                     js-error="confirm_password"></div>

              </div>

              <!-- Submit Action -->

              <button class="btn btn-primary w-100"
                      type="submit">
                RESET PASSWORD
              </button>

            </form>
          </div>

        </div>
      </div>

    </div>

  </div>

</body>
</html>
