<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%- include(style +'/_header.html'); -%>
</head>
<body>

  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/bootstrap.bundle.min.js"></script>
  <script src="js/reset-password-send-email.js"></script>

  <div id="p-reset-password" class="h-100">

    <!--=============================
    =            HERO            =
    ==============================-->

    <div class="section-hero">

      <!-- Bg Img -->

      <div class="overlay"></div>

      <!--====  Nav  ====-->

      <%- include(style +'/_navbar.html'); -%>

      <!--====  Content  ====-->

      <div class="section-headline">
        <div class="container">

          <!-- Headline -->

          <h1 class="headline">
            Reset your password</h1>

          <p class="tagline">
            Enter your email and we'll send you instructions to create a new password.
          </p>

          <!-- Form -->

          <div class="form-container">
            <form js-form>

              <!-- Feedback -->
              <% if (message) { %>
                <div class="banner banner-danger m-b-20">
                  <p> <%= message %> </p>
                </div>
              <% } %>

              <!-- Input -->

              <div class="form-group">
                <label for="email">
                  Email</label>
                <input class        = "form-control"
                       type         = "email"
                       name         = "email"
                       autocomplete = "off"
                       required js-email />

                <div class="label-error"
                     js-error="email"></div>

              </div>

              <!-- Submit Action -->

              <button class="btn btn-primary w-100"
                      type="submit">
                RESET PASSWORD
              </button>

            </form>
          </div>

        </div>
      </div>

    </div>

  </div>

</body>
</html>
