<div class="section-features">
  <div class="container">

    <!-- Headline -->

    <h1 class="headline">
      How it works...</h1>

    <p class="tagline">
      Providing effective treatment at affordable costs.
    </p>

    <!-- Features List -->

    <div class="row">

      <div class="col">

        <i class="nc-icon nc-multiple-11"></i>

        <h3 class="title">
          Over 3,000 Employees</h3>
        <p class="description">
          Top class care physicians and specialists. Request an appointment anytime.</p>

        <a class="font-size-sm font-weight-medium" href="#">LEARN MORE</a>

      </div>

      <div class="col">

        <i class="nc-icon nc-doctor"></i>

        <h3 class="title">
          Unparalleled Expertise</h3>
        <p class="description">
          Our experts are some of the best in the world. Find the best care at the best price.</p>

        <a class="font-size-sm font-weight-medium" href="#">LEARN MORE</a>

      </div>

      <div class="col">

        <i class="nc-icon nc-save-planet"></i>

        <h3 class="title">
          Patient Stories</h3>
        <p class="description">
          Our clinic sees over 100,000 patients every year. See their real stories.</p>

        <a class="font-size-sm font-weight-medium" href="#">LEARN MORE</a>

      </div>

    </div>
  </div>

</div>