<footer>
  <div class="container">

    <!--====  Navigation  ====-->

    <section class="section-footer-menu">
      <div class="row">

        <!--====  Section  ====-->

        <div class="col">

          <h6 class="heading">
            PATIENTS</h6>

          <ul class="list-spaced list-unstyled">
            <li>
              <a href="#">
                Find a doctor</a></li>
            <li>
              <a href="#">
                Quality and safety</a></li>
            <li>
              <a href="#">
                Request an appointment</a></li>
          </ul>

        </div>

        <!--====  Section  ====-->

        <div class="col">

          <h6 class="heading">
            MEDICAL PROFESSIONALS</h6>

          <ul class="list-spaced list-unstyled">
            <li>
              <a href="#">
                Refer a patient</a></li>
            <li>
              <a href="#">
                Phone directory</a></li>
            <li>
              <a href="#">
                Staff listing</a></li>
          </ul>

        </div>

        <!--====  Section  ====-->

        <div class="col">

          <h6 class="heading">
            RESEARCHERS</h6>

          <ul class="list-spaced list-unstyled">
            <li>
              <a href="#">
                Innovations</a></li>
            <li>
              <a href="#">
                Expo Events</a></li>
            <li>
              <a href="#">
                Technology Feed</a></li>
          </ul>

        </div>

        <!--====  Section  ====-->

        <div class="col">

          <h6 class="heading">
            ASSISTANCE</h6>

          <ul class="list-spaced list-unstyled">
            <li>
              <a href="#">
                Clinical trials</a></li>
            <li>
              <a href="#">
                Locations</a></li>
            <li>
              <a href="#">
                International offices</a></li>
          </ul>

        </div>

        <!--====  Section  ====-->

        <div class="col">

          <p class="font-weight-medium text-heading">
            MEDIA</p>

          <ul class="list-spaced list-unstyled">
            <li>
              <a href="#">
                Apply Today</a></li>
            <li>
              <a href="#">
                Online Checking</a></li>
            <li>
              <a href="#">
                Request Information</a></li>
          </ul>

        </div>

      </div>
    </section>

    <!--====  Copyright  ====-->

    <section class="section-copyright">

      <div class="mr-auto">
        <small>&copy; Copyright 2018 - Penguin Stage. Tennessee, Nashville, 4905 Hidden Pond Road</small>
      </div>

      <nav>
        <ul class="nav justify-content-between">

          <li class="nav-item">
            <a class="nav-link" href="#">
              REQUEST AN APPOINTMENT</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              FIND A DOCTOR</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              ABOUT US</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              HELP</a></li>

        </ul>
      </nav>

    </section>

  </div>
</footer>