<div class="section-content">
  <div class="container">

    <!-- Headline -->

    <h1 class="headline">
      Welcome
      <strong js-welcome></strong>
    </h1>

    <div class="separator"></div>

    <!-- Widget Cards -->
    
    <br>
    <div class="row m-b-20">

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Request an Appointment</h5>
            <p class="card-text">Fill out the online form and receive an email response within 24 hours. <a href="#">Start process</a>.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Online Medical SUpport</h5>
            <p class="card-text">Browser our directory and find the right assistance you need. <a href="#">See directory</a>.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Live Chat</h5>
            <p class="card-text">Our agents are available to schedule appointments. <a href="#">Start a live call now</a>.</p>
          </div>
        </div>
      </div>

    </div>

    <!-- Main Content -->

    <div class="row">

      <div class="col-8">

        <!--====  Cash Accounts  ====-->

        <section>

          <h4 class="title">
            Pending Appointments (3)</h4>

          <!-- Table -->

          <table class="table">
            <col width="80">
            <col width="120">
            <col width="140">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Room</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>24 Sep, 2018
                  <br><small class="text-muted">Ticket #879-8741</small>
                </td>
                <td>Medical Assistance
                  <br><small class="text-muted">Dr. George Michaels</small>
                </td>
                <td>#215
                  <br><small class="text-muted">St. Anita's Hospital</small>
                </td>
              </tr>
              <tr>
                <td>31 Sep, 2018
                  <br><small class="text-muted">Ticket #114-7740</small>
                </td>
                <td>General Check Up
                  <br><small class="text-muted">Dr. Andrea Williams</small>
                </td>
                <td>#81
                  <br><small class="text-muted">Federal Clinic #3</small>
                </td>
              </tr>
              <tr>
                <td>15 Oct, 2018
                  <br><small class="text-muted">Ticket #741-1140</small>
                </td>
                <td>Blood and Pressure Test
                  <br><small class="text-muted">Dr. Bill Anderson</small>
                </td>
                <td>#11
                  <br><small class="text-muted">Anderson's Clinic</small>
                </td>
              </tr>
            </tbody>
          </table>

        </section>

      </div>

      <!--==================================
      =            Quick Access            =
      ===================================-->

      <div class="col-3 offset-1">

        <section>

          <h6 class="title">
            QUICK ACCESS</h6>

          <!-- List -->

          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">
                <i class="nc-icon nc-email-85-outline"></i>
                Messages</a>
            </li>
            <li class="list-group-item">
              <a href="#">
                <i class="nc-icon nc-single-copy-outline"></i>
                Health Report</a>
            </li>
            <li class="list-group-item">
              <a href="#">
                <i class="nc-icon nc-credit-card-outline"></i>
                Payments</a>
            </li>
             <li class="list-group-item">
              <a href="#">
                <i class="nc-icon nc-handshake-outline"></i>
                Assistance</a>
            </li>
            <li class="list-group-item">
              <a data-toggle="modal" href="#modal-password">
                <i class="nc-icon nc-lock-outline"></i>
                Change Password</a>
            </li>
          </ul>

        </section>

      </div>

    </div>

  </div>
</div>