<div class="section-features">
  <div class="container">

    <!-- Headline -->

    <h1 class="headline">
      How it works...</h1>

    <p class="tagline">
      We continually evolve, helping today's market-driven corporations.
    </p>

    <!-- Features List -->

    <div class="row">

      <div class="col">

        <i class="nc-icon nc-connect"></i>

        <h3 class="title">
          Integrated Networking</h3>
        <p class="description">
          Helping to deliver web-enabled products for today's leading corporations.</p>

        <a class="font-size-sm font-weight-medium" href="#">LEARN MORE</a>

      </div>

      <div class="col">

        <i class="nc-icon nc-board-30"></i>

        <h3 class="title">
          Data-driven Feeds</h3>
        <p class="description">
          Workflow enhancements for today's data-driven corporations.</p>

        <a class="font-size-sm font-weight-medium" href="#">LEARN MORE</a>

      </div>

      <div class="col">

        <i class="nc-icon nc-money-coins"></i>

        <h3 class="title">
          Financial Web Services</h3>
        <p class="description">
          Online solutions for today's leading businesses.</p>

        <a class="font-size-sm font-weight-medium" href="#">LEARN MORE</a>

      </div>

    </div>
  </div>

</div>