<div class="section-content">
  <div class="container">

    <!-- Headline -->

    <h1 class="headline">
      Welcome
      <strong js-welcome></strong>
    </h1>

    <div class="separator"></div>

    <!-- Main Content -->

    <div class="row">

      <div class="col-8">

        <!--====  Cash Accounts  ====-->

        <section>

          <h4 class="title">
            Cash Accounts (2)</h4>

          <!-- Table -->

          <table class="table">
            <col width="200">
            <col width="150">
            <col width="100">
            <thead>
              <tr>
                <th>Account Number</th>
                <th>Account Type</th>
                <th class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Personal savings account - 879</td>
                <td>Master account</td>
                <th class="text-right">USD 1,539.00</th>
              </tr>
              <tr>
                <td>Corporate checking account - 114</td>
                <td>Branched account</td>
                <th class="text-right">USD 5,120.15</th>
              </tr>
            </tbody>
          </table>

        </section>

        <!--====  Credit Cards  ====-->

        <section>

          <h4 class="title">
            Credit Cards (1)</h4>

          <!-- Table -->

          <table class="table">
            <col width="200">
            <col width="150">
            <col width="100">
            <thead>
              <tr>
                <th>Card Number</th>
                <th>Card Type</th>
                <th class="text-right">Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>*** *** *** 975</td>
                <td>MasterCard</td>
                <th class="text-right">Not available</th>
              </tr>
            </tbody>
          </table>

        </section>

      </div>

      <!--==================================
      =            Quick Access            =
      ===================================-->

      <div class="col-3 offset-1">

        <section>

          <h6 class="title">
            QUICK ACCESS</h6>

          <!-- List -->

          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">
                <i class="nc-icon nc-credit-card-outline"></i>Credit Cards</a>
            </li>
            <li class="list-group-item">
              <a href="#">
                <i class="nc-icon nc-single-copy-outline"></i>Account Statements</a>
            </li>
            <li class="list-group-item">
              <a href="#">
                <i class="nc-icon nc-handshake-outline"></i>Account Transactions</a>
            </li>
            <li class="list-group-item">
              <a href="#">
                <i class="nc-icon nc-cockade-outline"></i>Rewards &amp; Offers</a>
            </li>
            <li class="list-group-item">
              <a data-toggle="modal" href="#modal-password">
                <i class="nc-icon nc-lock-outline"></i>Change Password</a>
            </li>
          </ul>

        </section>

      </div>

    </div>

  </div>
</div>